* {
   background-color: transparent !important;
   color:            #000000 !important;
}

a {
    text-decoration:       underline !important;
    text-decoration-color: #cccccc   !important;
    text-underline-offset: 3px       !important;
}
